name: ROS 2 Colcon Build CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ros:jazzy-ros-base
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install System Dependencies
        run: |
          apt-get update && apt-get install -y \
            python3-pip \
            python3-venv \
            git \
            wget
          rm -rf /var/lib/apt/lists/*

      - name: Cache Pip Packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            venv
          key: ${{ runner.os }}-pip-cpu-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-cpu-

      - name: Install Python Dependencies
        run: |
          if [ ! -d "venv" ]; then
            python3 -m venv venv
            . venv/bin/activate
            
            pip install --upgrade pip
            
            pip install "numpy<2"
            pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
            pip install onnxruntime
            pip install ultralytics opencv-python onnx pygame carla==0.9.16
          else
            echo "Using cached venv"
          fi

      - name: Colcon Build
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          
          . venv/bin/activate
          
          colcon build --symlink-install